{% extends "layout.html" %}
{% block content %}
  {% if user.doctor == "no" %}
  <h2>Your Doctors:</h2>
  {% else %}
  <h2>Your Patients:</h2>
  {% endif %}
  {% for current in user.friended %}
    <article class="media content-section">
      <div class="media-body">
        <p>{{ current.username }}</p>
        <a class="article-content" href="{{ url_for('users.unfriend', nickname=current.username) }}">Unfriend</a>
      </div>
    </article>

  {% endfor %}
  {% if user.doctor == "no" %}
    <h2>Friend Doctors:</h2>
    {% for otheruser in users %}
      {% if otheruser not in user.friended %}
      {% if otheruser.doctor == "yes" %}

        <article class="media content-section">
          <div class="media-body">
            <p>{{ otheruser.username }}</p>
            <a class="article-content" href="{{ url_for('users.friend', nickname=otheruser.username) }}">Friend</a>
          </div>
        </article>

      {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if user.doctor == "yes" %}
  <h2>Friend Patients:</h2>
    {% for otheruser in users %}
      {% if otheruser not in user.friended %}
      {% if otheruser.doctor == "no" %}

      <article class="media content-section">
        <div class="media-body">
          <p>{{ otheruser.username }}</p>
          <a class="article-content" href="{{ url_for('users.friend', nickname=otheruser.username) }}">Friend</a>
        </div>
      </article>

      {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock content %}
